body {
  font: 13pt tahoma;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  margin: 0;
  color: white;
}

.background {
  position: fixed;
  width: 200%;
  height: 200%;
  left: -50%;
  background: #000;
}

.background img {
  display: block;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

section {
  position: absolute;
  width: 100%;
}
.section-inner {
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  margin: 0 auto;
  padding: 0;
  border-radius: 15px;
}
.section-inner ul, .section-inner ol {
  padding: 3px;
}
.section-inner ol {
  margin: 0 50px;
}

/* Loading dialog styles */
#loading {
  bottom: 45%;
}
#loading div {
  width: 15em;
}
#loading h1 {
  padding: 3px;
}

/* Error dialog styles */
#error {
  bottom: 45%;
}
#error div {
  width: 30em;
}
#error h1 {
  padding: 3px;
}

/* Scorebox styles */
#score-box {
  bottom: 45%;
}
#scores {
  width: 15em;
}

.player {
  width: 6em;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.player:first-child {
  border-right: 1px solid white;
}
.name {
  text-align: center;
  font-size: 0.8em;
}

.score {
  font-size: 4em;
}

/* Battlebox styles */
#battle-box {
  font-size: 1em;
  display: none;
  bottom: 20%;
}
#battles {
  width: 30em;
}